.title {
    color: rgb(58, 13, 182);
    font-size: 24px;
  }
  
  #paragraph {
    color: rgb(214, 213, 220);
    font-size: 16px;
    
  }
  
  body {
    background-image: url("IMG_3744.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }
  .colored-background {
    display: inline-flex;
    background-color: #837c7c;
    padding: 4px;
  }
  