.title {
    color: rgb(58, 88, 71);
    font-size: 24px;
  }
  
  #paragraph {
    color: rgb(64, 53, 36);
    font-size: 16px;
  }
  
  body {
    background-color: #79b6db;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }
  .colored-background {
    display: inline-flex;
    background: rgba(244, 244, 244, 0.427);
    padding: 6px;
  }
  img {
    width: 100%;
    height: auto;
  }